// src/styles/HomeworkModal.scss
$modal-background: rgba(0, 0, 0, 0.5);
$modal-content-background: #fff;
$theme-color: #fddb00;
$text-color: #333;
$secondary-text-color: #666;
$card-background: #fff;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$selected-border: 2px solid darken($theme-color, 5%);

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-background;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background: $modal-content-background;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: $card-shadow;
    position: relative;
    text-align: center;

    .close-button {
      background: none;
      border: none;
      font-size: 1.5em;
      color: $text-color;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    h2 {
      font-size: 1.8em;
      color: $text-color;
      margin-bottom: 20px;
    }

    .resources-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;

      .resource-card {
        background: $card-background;
        border-radius: 5px;
        box-shadow: $card-shadow;
        padding: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
        border: 2px solid transparent;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        &.selected {
          border: $selected-border;
        }

        .resource-details {
          text-align: left;

          .resource-name {
            font-size: 1.1em;
            font-weight: bold;
            color: $text-color;
          }

          .resource-type {
            font-size: 0.9em;
            color: $secondary-text-color;
          }
        }
      }
    }

    .modal-actions {
      display: flex;
      justify-content: space-around;

      .modal-button {
        background-color: $theme-color;
        border: none;
        padding: 10px 20px;
        color: $text-color;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        &:hover {
          background-color: darken($theme-color, 10%);
        }
      }

      .cancel-button {
        background-color: #ccc;

        &:hover {
          background-color: darken(#ccc, 10%);
        }
      }
    }
  }
}
